.list-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.column-container {
  border-radius: 10PX;
  height: 60vh;
  width: 300px;
  margin: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
}

.list-name{
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

/* .add-button{
  background-color: #2196f3;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.add-button{
  border-radius: 100%;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
  height: 30px;
  box-shadow: 0 2px 2px #888888;

}

.title{
  height: 15%;
}

.tasks{
  height: 70%;
}

.bottom-info{
  height: 15%;
}