.task-container{
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 5px solid green;
  border-right: 5px solid green;
}

.task-name{
  margin-left: 10px;
}